<html op="news">
  <head>
    <title>Empo News</title>
  </head>
  <body>
    <div align="center">
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td bgcolor="#ffffaa">
                  <table cellpadding="5" width="100%"></table>
                </td>
              </tr>
            </table>
            <table border="0">
              <div *ngFor="let comment of comments">
                <div style="margin-top: 2px; margin-bottom: -5px">
                  <tr valign="top" class="votelinks">
                    <td><font color="#ff0080">*</font></td>
                    <div *ngIf="comment.points < 2; else multiplePoints ">
                      <td>{{comment.points}} point</td>
                    </div>
                    <ng-template #multiplePoints>
                      <td style="width: 1px"></td>
                      <td>{{comment.points}} points</td>
                    </ng-template>
                    <td>by {{comment.user}}</td>
                    <td>{{comment.publication_time}}</td>
                    <td> | </td>
                    <div *ngIf="comment.parent; else noParent">
                      <td>
                        <a routerLink="/item/{{comment.parent}}">parent</a>
                      </td>
                    </div>
                    <ng-template #noParent>
                      <a routerLink="/item/{{comment.contribution}}">parent</a>
                    </ng-template>
                    <td>
                      <a routerLink="/item/{{comment.contribution}}"> | on: {{comment.contribution}}</a>
                    </td>
                  </tr>
                </div>
                <tr>
                  <td style="width: 10px" ></td>
                  <td>{{comment.text}}</td>
                </tr>
              </div>
            </table>

          </td>
        </tr>
      </table>
    </div>
  </body>
</html>


