<tr>
  <td>
    <table width="100%" cellspacing="0" cellpadding="1">
      <tr>
        <td bgcolor="#ff0080"></td>
      </tr>
    </table>
    <br>
    <div align="center">
      <a routerLink="">
        You are welcome to Empo News, enjoy your stay
      </a>
    </div>
    <br>
    <div align="center">
           <span class="yclinks">
               <a href='https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/coding-style/'>Guidelines</a>
               | <a href='https://docs.djangoproject.com/es/3.0/faq/'>FAQ</a>
               | <a href='https://github.com/ASW-Grup11A/ASW_Grup11A_Angular'>GitHub</a>
               | <a href='https://trello.com/b/BmKq5iVh/aswgrup11aangular'>Trello</a>
           </span><br><br>
    </div>
  </td>
</tr>
