
<div>
  <h2> Usuari:</h2>
  <h3>{{user.username}}</h3>
  <h3>{{user.date_joined}}</h3>
  <h3>{{user.karma}}</h3>
  <h3>{{user.about}}</h3>
  <h3>{{user.email}}</h3>
  <h3>{{user.showdead}}</h3>
  <h3>{{user.noprocrast}}</h3>
  <h3>{{user.maxvisit}}</h3>
  <h3>{{user.minaway}}</h3>
  <h3>{{user.delay}}</h3>

  <h2> Contribution:</h2>
  <h3>{{contribution.id}}</h3>
  <h3>{{contribution.userId}}</h3>
  <h3>{{contribution.title}}</h3>
  <h3>{{contribution.url}}</h3>
  <h3>{{contribution.text}}</h3>
  <h3>{{contribution.publicationTime}}</h3>
  <h3>{{contribution.comments}}</h3>
  <h3>{{contribution.points}}</h3>
  <h3>{{contribution.hidden}}</h3>
  <h3>{{contribution.liked}}</h3>
  <h3>{{contribution.show}}</h3>

  <h2> Comment:</h2>
  <h3>{{comment.id}}</h3>
  <h3>{{comment.userId}}</h3>
  <h3>{{comment.title}}</h3>
  <h3>{{comment.url}}</h3>
  <h3>{{comment.text}}</h3>
  <h3>{{comment.publicationTime}}</h3>
  <h3>{{comment.comments}}</h3>
  <h3>{{comment.points}}</h3>
  <h3>{{comment.hidden}}</h3>
  <h3>{{comment.liked}}</h3>
  <h3>{{comment.show}}</h3>
  <h3>{{comment.contributionId}}</h3>
  <h3>{{comment.parentId}}</h3>
</div>
