<body>
<span>Este es {{this.userSelected}}</span>
<div align="center">
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tr>
      <td bgcolor="#ff0080">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
          <tr>
            <td style="width:18px;padding-right:4px">
              <a routerLink = "">
              <img src="../../assets/y18.gif" width="18" height="18" style="border:1px white solid;">
              </a>
            </td>
            <td style="line-height:12pt; height:10px;">
                                    <span class="pagetop">
                                        <b class="hnname"><a routerLink = "">Empo News</a></b>

                                            <span class="topsel" *ngIf="highlight == 'new'">
                                                <a routerLink = "/new" >new</a>
                                            </span>
                                            <a routerLink = "/new" *ngIf="highlight != 'new'" >new</a>
                                         |
                                              <span class="topsel" *ngIf="highlight == 'threads' && user.username == userSelected; else onlyLink">
                                                  <a routerLink="/threads/{{user.username}}" >threads</a>
                                              </span>
                                              <ng-template #onlyLink>
                                                <a routerLink="/threads/{{user.username}}" >threads</a>
                                              </ng-template>
                                          |

                                            <span class="topsel" *ngIf="highlight == 'comments'">
                                                  <a routerLink = "/comments">comments</a>
                                            </span>
                                            <a routerLink="/comments" *ngIf="highlight != 'comments'">comments</a>

                                      |

                                            <span class="topsel" *ngIf="highlight == 'ask'">
                                            <a routerLink = "/ask">ask</a>
                                            </span>
                                            <a routerLink="/ask" *ngIf="highlight != 'ask'">ask</a>

                                      |
                                            <span class="topsel" *ngIf="highlight == 'show'">
                                            <a routerLink = "/show">show</a>
                                            </span>
                                            <a routerLink="/show" *ngIf="highlight != 'show'">show</a>

                                      |

                                        <a routerLink="/submit">submit</a>

                                      <ng-container [ngSwitch]="highlight">
                                        <ng-container *ngSwitchCase="'hidden'">
                                          |
                                            <span class="topsel" style="color: white">
                                            hidden
                                            </span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'submitted'">
                                          |
                                            <span class="topsel" style="color: white">
                                            {{ submitted_id }}'s submissions
                                            </span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'voted_submissions'">
                                          |
                                            <span class="topsel" style="color: white">
                                            upvoted
                                            </span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'voted_comments'">
                                          |
                                            <span class="topsel" style="color: white">
                                            upvoted
                                            </span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'threads'">
                                          <ng-container *ngIf="userSelected != user.username">
                                            | <span class="topsel">
                                                <a href="">{{ userSelected}}'s comments</a>
                                            </span>
                                          </ng-container>
                                        </ng-container>
                                      </ng-container>

                                    </span>
            </td>
            <td style="text-align:right;padding-right:4px;">
                                    <span class="pagetop">
                                          <a routerLink="/profile">{{ user.username }}</a>
                                          (<a>{{ user.karma }}</a>) |
                                          <a href="/logout">Logout</a>
                                    </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>



    <tr id="pagespace" title="" style="height:10px"></tr>
    <tr>
      <app-list-contributions [filter]="highlight"></app-list-contributions>
    </tr>



    <tr>
      <td>
        <table width="100%" cellspacing="0" cellpadding="1">
          <tr>
            <td bgcolor="#ff0080"></td>
          </tr>
        </table>
        <br>
        <div align="center">
          <a routerLink="">
            You are welcome to Empo News, enjoy your stay
          </a>
        </div>
        <br>
        <div align="center">
           <span class="yclinks">
               <a href='https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/coding-style/'>Guidelines</a>
               | <a href='https://docs.djangoproject.com/es/3.0/faq/'>FAQ</a>
               | <a href='https://github.com/ASW-Grup11A/ASW_Grup11A_Angular'>GitHub</a>
               | <a href='https://trello.com/b/BmKq5iVh/aswgrup11aangular'>Trello</a>
           </span><br><br>
        </div>
      </td>
    </tr>

  </table>
</div>
</body>
